In [1]:
# QUIZ 1

#ข้อ 1: เขียนคำสั่งคำนวณหาเศษเหลือจากการหาร 2345 ด้วย 13
ans1 = 2345%13
print(ans1)

5

In [2]:
#ข้อ 2: เขียนคำสั่งหาคำตอบจากการหาร 1567 ด้วย 17 โดยไม่เอาเศษส่วน
ans2 = 1567//17
print(ans2)

92

In [ ]:
#ข้อ 3: FirstName กับ Firstname เป็นตัวแปรเดียวกันหรือไม่
answer: FirstName and Firstname are not the same variable because Python is case sensitive. So, it means lowercase and uppercase are different
meaning for Python.

In [ ]:
#ข้อ 4: 13Friday เป็นตัวแปรที่ถูกต้องหรือไม่
answer: 13Friday is incorrect variable because variables in Python have to start with letter first.

In [4]:
#ข้อ 5: จง print ผลลัพธ์จากข้อ 1,2 โดยใช้คำสั่ง format
print('result1 = {} and result2 = {}'.format(ans1,ans2))

result1 = 5 and result2 = 92

In [1]:
#QUIZ 2

#ข้อ 1: เขียนฟังก์ชันไม่มีชื่อให้รับพารามิเตอร์ 1 ตัว และ print ค่านั้นหารด้วย 3
result = lambda a: a*a

In [4]:
print(result(9)/3)

27.0

In [8]:
#ข้อ 2: เขียนฟังก์ชันธรรมดารับค่า 4 พารามิเตอร์ และหาค่าเฉลี่ย (Named Fn.)
def findmean(a,b,c,d):
    ans = (a+b+c+d)/4
    return ans

In [15]:
output = findmean(10,20,30,40)
print(output)

25.0

In [18]:
#ข้อ 2: เขียนฟังก์ชันธรรมดารับค่า 4 พารามิเตอร์ และหาค่าเฉลี่ย (Lambda Fn.)
fnc = lambda e,f,g,h: (e+f+g+h)/4

In [20]:
output2 = fnc(10,20,30,40)
print(output2)

25.0

In [12]:
#ข้อ 3 เขียนฟังก์ชันไม่มีชื่อให้รับพารามิเตอร์ 3 ตัว และหาค่าเฉลี่ย
fn = lambda w,x,y,z: w*x*y*z if z > 5 else w+x+y+z

In [13]:
result2 = fn(6,7,8,9)
print(result2)

3024

In [14]:
(lambda w,x,y,z: w*x*y*z if z > 5 else w+x+y+z)(1,2,3,4)

10

In [48]:
#QUIZ 3
#ข้อ 1: สร้างลิสต์ระบุชื่อ นามสกุล อายุตนเอง
mylist = ['Tanwarat', 'Jarasrungrojkul', 23]
print(mylist)

['Tanwarat', 'Jarasrungrojkul', 23]

In [49]:
#ข้อ 2: ลบอายุออกจากลิสต์
del mylist[2]
print(mylist)

['Tanwarat', 'Jarasrungrojkul']

In [50]:
#ข้อ 3: ลดอายุตัวเอง 10 ปี และแทรกไว้หน้าสุดของลิสต์
mylist.insert(0,13)
print(mylist)

[13, 'Tanwarat', 'Jarasrungrojkul']

In [51]:
#ข้อ 4 เพิ่มส่วนสูง น้ำหนักลงในลิสต์ โดยไปต่อท้าย
mylist.append(158)
print(mylist)

[13, 'Tanwarat', 'Jarasrungrojkul', 158]

In [52]:
mylist.append(55)
print(mylist)

[13, 'Tanwarat', 'Jarasrungrojkul', 158, 55]

In [53]:
#ข้อ 5: print สมาชิกในลิสต์ตัวที่ 3 ถึงตัวสุดท้าย
print(mylist[2:])

['Jarasrungrojkul', 158, 55]

In [54]:
#QUIZ 4
#ข้อ 1: a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] แล้ว a = [1][1][1] คือค่าใด

a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]

In [56]:
print(a)

[[[1, 3], [3, 4]], [5, [5, 6], [7, 8]]]

In [57]:
a[1][1][1]

6

In [58]:
#ข้อ 2: เขียนชื่อ นามสกุล อายุ อยู้ในลิสต์เดียวของคน 4 คน แล้วใส่ไว้ในลิสต์ (Nested List) และแสดงผล
first = ['Tanwarat', 'Jarasrungrojkul', 23]
second = ['Naruto', 'Uzumaki', 17]
third = ['Sasuke', 'Uchiha', 17]
forth = ['Sakura', 'Haruno', 17]

In [59]:
name_all = [first, second, third, forth]

In [60]:
print(name_all)

[['Tanwarat', 'Jarasrungrojkul', 23], ['Naruto', 'Uzumaki', 17], ['Sasuke', 'Uchiha', 17], ['Sakura', 'Haruno', 17]]

In [61]:
#ข้อ 3: ลบคนสุดท้ายของลิสต์นั้นออกและแสดงผล
del name_all[3]

In [62]:
print(name_all)

[['Tanwarat', 'Jarasrungrojkul', 23], ['Naruto', 'Uzumaki', 17], ['Sasuke', 'Uchiha', 17]]

In [ ]:
#ข้อ 4: เพิ่มคนที่ 5 เข้ามาเป็นคนแรกของ Nested List และแสดงผล
name_all.insert(0,['Kakashi', 'Hatake', 32])

In [64]:
print(name_all)

[['Kakashi', 'Hatake', 32], ['Tanwarat', 'Jarasrungrojkul', 23], ['Naruto', 'Uzumaki', 17], ['Sasuke', 'Uchiha', 17]]

In [65]:
#ข้อ 5: แก้ไขอายุคนที่สอง +10 และแสดงผล
name_all[1][2] = 33
print(name_all)

[['Kakashi', 'Hatake', 32], ['Tanwarat', 'Jarasrungrojkul', 33], ['Naruto', 'Uzumaki', 17], ['Sasuke', 'Uchiha', 17]]

In [71]:
#QUIZ 5
#ข้อ 1: กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียน Map เพื่อหาเลขยกกำลังสามทั้งหมดของ lst ในรูปแบบ Lambda Function และ ฟังก์ชันธรรมดา
#Lambda Function
lst = [1,2,3,4,5,6,7,8,9,10]
answer = map(lambda x:x**3, lst)
print(answer)
print(list(answer))

<map object at 0x000001714F077788>
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [72]:
#ฟังก์ชันธรรมดา
def func(a):
    return a**3

In [73]:
lst = [1,2,3,4,5,6,7,8,9,10]
print(list(map(func,lst)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [74]:
#ข้อ 2: กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียน Filter เพื่อหาว่าเลขใดในลิสต์เมื่อยกกำลังสองแล้วหารสองไม่ลงตัว ในรูปแบบ Lambda Fumction และฟังก์ชันธรรมดา
#Lambda Function
lst = [1,2,3,4,5,6,7,8,9,10]
result_list = filter(lambda x: ((x**2)%2 != 0), lst)
print(list(result_list))

[1, 3, 5, 7, 9]

In [77]:
#ฟังก์ชันธรรมดา
def func(y):
    return ((y**2)%2 != 0)

In [78]:
lst = [1,2,3,4,5,6,7,8,9,10]
print(list(filter(func,lst)))

[1, 3, 5, 7, 9]

In [79]:
#QUIZ 6
#ข้อ 1: กำหนดให้ lst = [1,2,3,4,5] เขียน List Comprehension เพื่อนำทุกตัวใน lst ไปคูณ 2 และลบด้วย 1 พร้อมแสดงผล
lst1 = [1,2,3,4,5]
lst2 = [(a*2)-1 for a in lst1]
print(lst2)

[1, 3, 5, 7, 9]

In [81]:
#ข้อ 2: กำหนด lst = [1,2,3,4,5,6,7,8,9,10,11,12,13] เขียน List Comprehension เพื่อหาตัวที่หาร 3 ไม่ลงตัว และนำผลไปยกกำลัง 3 พร้อมแสดงผล
lst3 = [1,2,3,4,5,6,7,8,9,10,11,12,13]
lst4 = [b ** 3 for b in lst3 if b%3 != 0]
print(lst4)

[1, 8, 64, 125, 343, 512, 1000, 1331, 2197]

In [84]:
#QUIZ 7
#ข้อ 1: เขียนโปรแกรมตรวจสอบคะแนนเด็กนักเรียน ถ้าเด็กได้มากกว่า 80 ได้ A มากกว่า 70 ได้ B มากกว่า 60 ได้ C มากกว่า 50 ได้ D และต่ำกว่า 50 ได้ F
score = 85
if (score > 80):
    print('grade A')
elif (score > 70):
    print('grade B')
elif (score > 60):
    print('grade C')
elif (score > 50):
    print('grade D')
else:
    print('grade F')

grade A

In [1]:
#QUIZ 8
#ข้อ 1: กำหนด A = [1,2,3,4,5] and B = [2,3,1,3,2] เขียน Map แบบ Multiple-list Operations โดยให้ B**A พร้อมแสดงผล

A = [1,2,3,4,5]
B = [2,3,1,3,2]

C = map(lambda a,b: b**a, A, B)
print(list(C))

[2, 9, 1, 81, 32]

In [6]:
#ข้อ 2: เขียนชื่อนักเรียน เลขที่ และคะแนนสอบไฟนอล พร้อมใช้คำสั่ง Zip() ในการจับคู่ พร้อมแสดงผล
student_name = ['Sun', 'Moon', 'Star', 'Rainbow']
student_no = [1, 2, 3, 4]
student_score = [88, 92, 76, 95]

student_all = list(zip(student_name, student_no, student_score))
print(student_all)

[('Sun', 1, 88), ('Moon', 2, 92), ('Star', 3, 76), ('Rainbow', 4, 95)]

In [7]:
#QUIZ 9
#ข้อ 1: กำหนด lst = [5,2,1,3,2] เขียนฟังก์ชัน Reduce เพื่อหาผลลัพธ์สุดท้ายของการดำเนินการแบบเลขยกกำลัง

from functools import reduce
lst = [5,2,1,3,2]
output = reduce((lambda a,b: a**b), lst)
print(output)

244140625

In [8]:
#ข้อ 2: กำหนด lst = [1,2,3,4,5,6,7,8,9,10] เขียนฟังก์ชัน Reduce เพื่อหาผลลัพธ์สุดท้ายของการดำเนินการแบบคูณ

from functools import reduce
lst = [1,2,3,4,5,6,7,8,9,10]
output2 = reduce((lambda c,d: c*d), lst)
print(output2)

3628800